:root { 
    --primary-title-color:#ffffff;
    --secondary-title-color:#212121;
    --primery-text-color:#757575;
    --primery-logo-title:#2196F3;
}
body { 
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}